html{

}
/body{
	font-family: 'Roboto', sans-serif;
}
.nopadding{
	padding: 0px;
}
.gigante{
	height: 30px;
}
.panel-default>.panel-heading{
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}
.cinzinha{
	background-color: #e8e8e8;
}
.row1{
	height:150px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#gerenciador{
    min-height: 100%;
}
#editor{
    min-height: 100%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}
.brand-name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.fixedbutton {
    position: fixed;
    bottom: 50px;
    right: 50px; 
}

.iframepdf{
  margin: 0 auto;
  position: relative;
  left: 15%;
  margin-top: 50px;
}
/*
.box{
  width: 95%;
  position: relative;
  left: 1%;
}

*/